<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- //// Liste des "appenders" ///// -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- no log lines of stack trace per cause of an exception -->
            <pattern>%d %-5level [%thread] %logger{36} - %m %throwable{0}%n</pattern>
        </encoder>
    </appender>
    <!-- A GARDER, pour debugger statemachine -->
    <!--<logger name="org.springframework.statemachine" level="INFO" />-->
    <logger name="org.springframework.statemachine.support" level="WARN" />

    <logger name="fr.demo.state" level="DEBUG" />

    <!-- Niveau des logs -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>